.container {
  z-index: 5;
  background: rgb(241, 237, 179);
  position: absolute;
  top: 25px;
  left: 15px;
  display: flex;
  border-radius: 5px;
}

.column {
  width: 20px;
  margin: 3px;
}

.item {
  cursor: pointer;
  display: inline-block;
  border-radius: 5px;
}

.item:hover {
  background-color: aqua;
}