.answer_selected {
  animation: blinker 0.7s linear infinite;
}

.answer_with-visible-scores {
  opacity: 0.4;
}

.answer_with-visible-scores.answer_selected {
  opacity: 1;
  animation: none;
}

.answer__radio {
  display: none;
}

.answer__scores {
  margin-top: 4px;
}

@keyframes blinker {
  50% {
    color: #209cee;
  }
}
