.answer_selected {
  animation: blinker 0.7s linear infinite;
}

.answer_with-visible-scores {
  opacity: 0.5;
  margin-bottom: 25px;
}

.answer_with-visible-scores.answer_selected {
  opacity: 1;
  animation: none;
}

.answer__radio {
  display: none;
}

.answer__scores {
  margin-top: 10px;
}

@keyframes blinker {
  50% {
    color: var(--color-primary);
  }
}
