.scores {
  display: flex;
  justify-content: space-between;
  max-width: 704px;
  list-style-type: none;
  margin: 10px auto 0;
  padding: 0;
}

.score {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 60px;
}

.score:last-of-type {
  margin-right: 0;
}

.score__icon {
  margin-right: 10px;
}

.score__value_negative {
  margin-left: -5px;
}
