.text {
  margin: 0;
  line-height: 1.5;
}

.xs {
  font-size: 12px;
}

.s {
  font-size: 14px;
}

.m {
  font-size: 16px;
}

.l {
  font-size: 18px;
}

.inline {
  display: inline;
}

.bold {
  font-weight: bold;
}

.warn {
  color: var(--color-error);
  margin-left: 28px;
  font-size: 14px;
}
