.row {
  margin-bottom: 20px;
}

.row_with-cols {
  display: flex;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.answers {
  text-align: left;
  margin-bottom: 0;
}

.col {
  margin-left: 20px;
}
