.field {
  width: 100%;
  box-sizing: border-box;
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px solid var(--color-gray);
  font-family: var(--font-primary);
}

.field:focus {
  outline-color: var(--color-primary);
}
