@value variables: './variables.css';
@value colorBg, colorTxt, colorTxtAccent from variables;
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  margin: 0;
  font-family: 'Press Start 2p', sans-serif;
  color: colorTxt;
}
