:root {
  --color-white: #ffffff;
  --color-black: #212529;
  --color-blue: #5992de;
  --color-green: #92cc41;
  --color-red: #e76e55;

  --color-default: var(--color-black);
  --color-primary: var(--color-blue);
  --color-success: var(--color-green);
  --color-error: var(--color-red);
}
