:root {
  --nav-icon-width: 50px;
  --nav-icon-heigth: 24px;
}

.nav {
  position: relative;
}

.nav__list {
  display: flex;
}

.nav__item {
  display: block;
  color: var(--color-primary);
  text-decoration: none;
}

.nav__item + .nav__item {
  margin-left: 16px;
}

.nav__item.active {
  font-weight: bold;
}
